In [1]:
import pandas as pd

```
!pip install slalchemy psycopg2-binary
```

In [2]:
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
query = """
SELECT 1;
"""
pd.read_sql(query, con=engine)

   ?column?
0         1

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)

In [3]:
df.tpep_pickup_dtetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_dtetime = pd.to_datetime(df.tpep_dropoff_datetime)

/tmp/ipykernel_9577/1329778349.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_pickup_dtetime = pd.to_datetime(df.tpep_pickup_datetime)
/tmp/ipykernel_9577/1329778349.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_dtetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

```bash
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/